@{
    ViewData["Title"] = "Contact";
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_NormalLayout.cshtml";
    }
}
<h1>@ViewData["Title"]</h1>

<br />
<br />

<p>Email:- gulshantak1997@gmail.com</p>
<p>Contact No.:-7742576860, 9829952437</p>







<!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Add meta tags for mobile and IE -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title> PayPal Checkout Integration | Client Demo </title>
    </head>
    <body>
        <!-- Set up a container element for the button -->
        <div id="paypal-button-container"></div>
        <!-- Include the PayPal JavaScript SDK -->
        <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
        <script>
    // Render the PayPal button into #paypal-button-container
            paypal.Buttons({

                style: {
                    layout: 'vertical',
                    color: 'blue',
                    shape: 'rect',
                    label: 'paypal'
                },

                // Set up the transaction
                createOrder: function (data, actions) {
                    return actions.order.create({
                        intent: 'CAPTURE',
                        payer: {
                            name: {
                                given_name: "PayPal",
                                surname: "Customer"
                            },
                            address: {
                                address_line_1: '123 ABC Street',
                                address_line_2: 'Apt 2',
                                admin_area_2: 'San Jose',
                                admin_area_1: 'CA',
                                postal_code: '95121',
                                country_code: 'US'
                            },
                            email_address: "customer@domain.com",
                            phone: {
                                phone_type: "MOBILE",
                                phone_number: {
                                    national_number: "14082508100"
                                }
                            }
                        },
                        purchase_units: [
                            {
                                amount: {
                                    value: '15.00',
                                    currency_code: 'USD'
                                },
                                shipping: {
                                    address: {
                                        address_line_1: '2211 N First Street',
                                        address_line_2: 'Building 17',
                                        admin_area_2: 'San Jose',
                                        admin_area_1: 'CA',
                                        postal_code: '95131',
                                        country_code: 'US'
                                    }
                                },
                            }
                        ]
                    });
                },

                // Finalize the transaction
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (orderData) {
                        // Successful capture! For demo purposes:
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        //var transaction = orderData.purchase_units[0].payments.captures[0];
                        var transaction = orderData.purchase_units[0];
                        var payerInfo = orderData.payer;
                        

                        //alert(orderData);
                        //console.log(orderdata);

                        //alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                        // Replace the above to show a success message within this page, e.g.
                        const element = document.getElementById('paypal-button-container');
                        element.innerHTML = '';
                        element.innerHTML = '<h3>Thank you for the payment!</h3>';
                        /* Or go to another URL:*/  actions.redirect('thank_you.html');

                        //var obj = { "id": "12", "id1": "78" };
                        //debugger;

                        //$.ajax({
                        //    url: "/Paypal/Transaction",
                        //    data: obj,
                        //    type: "POST",
                        //    //contentType: "application/json",
                        //    //dataType: "json",
                        //    success: function (result) {
                        //        alert(result);
                        //    },
                        //    error: function (xhr) {                        //        alert('Error: ' + xhr.statusText);                        //    }


                        //});



                        //debugger;

                        $.ajax({
                            url: "/Paypal/StoreTransaction",
                            data:
                            {
                                transactionId: transaction.payments.captures[0].id,
                                transactionStatus: transaction.payments.captures[0].status,
                                CurrencyCode: transaction.payments.captures[0].amount.currency_code,
                                transactionAmount: transaction.amount.value,
                                PayerName: transaction.shipping.name.full_name,
                                MerchantId: transaction.payee.merchant_id,
                                PayerId: payerInfo.payer_id,
                                PayerEmail: payerInfo.email_address,
                                PostalCode: payerInfo.address.postal_code,
                                Address:payerInfo.address.address_line_1

                            },
                            type: "POST",
                            //contentType: "application/json",
                            //dataType: "json",
                            success: function (result) {
                                alert(result);
                            },
                            error: function (xhr) {                                alert('Error: ' + xhr.statusText);                            }


                        });
                    
                       
                    });

               }


            }).render('#paypal-button-container');</script>
    </body>
    </html>





