@{
    ViewData["Title"] = "Contact";
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_NormalLayout.cshtml";
    }
}
<h1>@ViewData["Title"]</h1>

<br />
<br />

<p>Email:- gulshantak1997@gmail.com</p>
<p>Contact No.:-7742576860, 9829952437</p>


