@*@model List<AdminLTE1.Models.ApplicationUser>

@{
    ViewBag.Title = "All Users";
    
}

<h1>All Users</h1>
<table class="table table-striped">
   
    <tbody>
        @foreach (var user in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    User ID : @user.Id
                </div>
                <div class="card-body">
                    User ID : @user.Email
                </div>
            </div>
           
            <div class="card-footer">
                <form asp-action="DeleteUser" asp-controller="User" asp-route-id="@user.Id">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete user : @user.UserName')">
                        Delete
                    </button>
                </form>

            </div>

        }
    </tbody>
</table>

@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#MyDataTable").DataTable();
        }
        )
    </script>
}*@