@model List<AdminLTE1.Models.ApplicationUser>

@{
    ViewBag.Title = "All Users";
    //Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>All Users</h1>
<table class="table table-striped" id="MyDataTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>

            </tr>
        }
    </tbody>
</table>



@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#MyDataTable").DataTable();
        }
        )
    </script>
}