@model IEnumerable<AdminLTE1.ViewModels.PermissionViewModel>
<li class="nav-item">
    <a href="/Home/Index" class="nav-link">
        <i class="fas fa-circle nav-icon"></i>
        <p>Home</p>
    </a>
</li>
@{foreach (var item in Model.GroupBy(m => m.MenuGrpId).ToList())
    {

        foreach (var firstItem in (Model.Where(s => s.MenuGrpId == item.FirstOrDefault().MenuGrpId).ToList()))
        {
                @if (string.IsNullOrEmpty(firstItem.Path))
                {
                    <li class="nav-item">
                        <a href="@firstItem.Path" class="nav-link">
                            <i class="fas fa-circle nav-icon"></i>
                            <p>@firstItem.Name</p>
                        </a>
                        <ul class="nav nav-treeview">
                     @*}*@
                          @foreach (var secondItem in (Model.Where(s => s.ParentId == firstItem.Id).ToList()))
                            {
                                <li class="nav-item">
                                    <a href="@secondItem.Path" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>@secondItem.Name</p>
                                    </a>

                                </li>
                            }
                        </ul>

                    </li>
                }
            }
           
        }
    }
   
    <li class="nav-item">
        <a href="/Home/Contact" class="nav-link">
            <i class="fas fa-circle nav-icon"></i>
            <p>Contact</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/Home/Privacy" class="nav-link">
            <i class="fas fa-circle nav-icon"></i>
            <p>Privacy</p>
        </a>
    </li>

