@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "ListRole";
}

<h1>All Roles</h1>
<form method="post" asp-action="AddRole" asp-controller="Role">
    <div class="input-group">
        <input name="roleName" class="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-info">Add New Role</button>
        </span>
    </div>
</form>
<table class="table table-striped">
    <tbody>
        @foreach (var role in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    User ID : @role.Id
                </div>
                <div class="card-body">
                    User ID : @role.Name
                </div>
            </div>
           
            <div class="card-footer">
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete user : @role.Id')">
                        Delete
                    </button>
                </form>

            </div>
        }



    </tbody>
</table>

