@page
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to verify your account.
</p>

