@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>







            <div class="form-group">
                <label asp-for="Input.ImageFile" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Input.ImageFile" class="form-control" />
                    <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
                </div>
            </div>







            Country:
            <select id="CId" name="Input.CountryId">
                <option value="0">Select</option>
            </select>
            <br /><br />

            State:
            <select id="StateId" name="Input.StateId">
                <option value="0">Select</option>
            </select>
            <br /><br />
            City:
            <select id="CityId" name="Input.CityId">
                <option value="0">Select</option>
            </select>
            <br /><br />







            <div class="form-group">
                <label asp-for="Input.Address1"></label>
                <input asp-for="Input.Address1" class="form-control" />
                <span asp-validation-for="Input.Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address2"></label>
                <input asp-for="Input.Address2" class="form-control" />
                <span asp-validation-for="Input.Address2" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>




@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            $.ajax({
                url: '/Home/Country',
                type: 'GET',
                async: false,
                dataType: 'json',
                //contentType: 'application/json',
                error: function (xhr) {
                    alert('Error: ' + xhr);
                },
                success: function (result) {

                    $.each(result, function (data, value) {
                        $("#CId").append($("<option></option>").val(value.value).html(value.text));
                    })
                },

            });


            $("#CId").on("change", function () {
                //$("#StateId").empty();
                //$("#CityId").empty();

                $.ajax({
                    url: '/Home/GetStatesByCountryId',
                    type: 'GET',
                    async: true,
                    data: {
                        CId: $(this).val()
                    },
                    dataType: 'json',
                    //contentType: 'application/json',
                    error: function (xhr) {
                        alert('Error: ' + xhr);
                    },
                    success: function (result) {

                        //alert(result);
                        $.each(result, function (data, value) {
                            //debugger;
                            //alert(value);
                            $("#StateId").append($("<option></option>").val(value.value).html(value.text));
                        })
                    },

                });
            });
            $("#StateId").on("change", function () {
                //$("#CityId").empty();

                $.ajax({
                    url: '/Home/GetCitiesByStateId',
                    type: 'GET',
                    async: false,
                    data: {
                        StateId: $(this).val()
                    },
                    dataType: 'json',
                    //contentType: 'application/json',
                    error: function (xhr) {
                        alert('Error: ' + xhr);
                    },
                    success: function (result) {
                        $.each(result, function (data, value) {
                            $("#CityId").append($("<option></option>").val(value.value).html(value.text));
                        })
                    },

                });
            });
        });
    </script>
}



